body {

}

.question {
  border: 1px solid #6C9FAA;
  border-radius: 4px;
  font-size: 30px;
  margin: 20px;
  padding: 30px;
}

button {
  color: white;
  font-size: large;
  margin-bottom: 10px;
}

.background {
  height: 600px;
  width: 600px;
}
.text2 {
  font-size: 80px;
}

.profilePage {
  background-color: blue;
}
h3 {
  font-size: 80px;
}
