body {
  font-family: 'Pavanam', sans-serif;
}
a {
  text-align: right;
}
.navIcon {
  margin-top: 30px;
  height: 80px;
}

.nav-item {
  font-size: 20px;
  margin-top: 30px;
  text-align: right;
}

.navbar {
  text-align: right;
}
